@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    font-size:10px;
    font-family:var(--font01);
    overflow:hidden;
    transition:.5s;
}

:root {
    --color01: #e67e34;
    --color02: #6e6e6e;
    --color03: #ff6a00;

    --font01: "Montserrat", sans-serif;
}

.container {
    width:100%;
    height:100vh;
}

.bg {
    width:100%;
    height:100%;
    position:fixed;
    z-index: -1;
}

.bg img {
    width:100%;
    height:100%;
    object-fit:cover;
}

header {
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:1rem 6rem;
}

#Logo {
    width:8rem;
    height:7rem;
    text-align:center;
    line-height:7rem;
    font-size:2rem;
    font-weight:600;
    text-transform:uppercase;
    color:white;
    background:var(--color01);
}

ul {
    width:50rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

ul li {
    text-transform:uppercase;
    font-weight:500;
    font-size:2rem;
    cursor:pointer;
}

ul li:hover {
  color:var(--color01);
}

ul li i {
    transition:.3s;
    font-size:2rem;
}

.hamburguer {
    width:1.8rem;
    height:1.8rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.hamburguer:hover .line-p, .hamburguer:hover .line-g {
    background:var(--color01);
    transition: .7s ease;
}

.line-p {
    width:70%;
    height:2px;
    background:black;
    margin-left:auto;
    border-radius:30%;
}

.line-g {
    width:100%;
    height:3px;
    background:black;
    border-radius:30%;
}





main {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin:12rem 6rem;
}

.category {
    width:12rem;
    height:26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.category-txt {
    font-size:2.5rem;
    font-weight:500;
    text-transform:uppercase;
    color:var(--color02);
    cursor:pointer;
}

.category-txt:hover {
    color:var(--color01);
}

.category-txt:last-child {
    color:var(--color01)
} 

.focus-txt {
    font-size:5rem;
    color:var(--color01);
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:1rem;
}

.focus-cash {
    font-size:2rem;
    font-weight:600;
}















.cart {
    width:17rem;
    height:16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right:10.5rem;
}


.size {
    width:100%;
    display: flex;
    justify-content:space-around;
}



.size p {
    width:3rem;
    height:3rem;
    text-align:center;
    line-height:3rem;
    font-size:2rem;
    text-transform:uppercase;
    border-radius: 50%;
    border:1px solid black;
    cursor:pointer;
}

.size p:hover {
    color:var(--color01);
    border:1px solid var(--color01);
}

.amount {
    width:100%;
    height:3.5rem;
    display: flex;
    justify-content: space-evenly;
    background:white;
    border:1px solid rgb(179, 179, 179);
    line-height:3.3rem;
}

.amount p {
    font-size:2rem;
    font-weight:500;
    cursor:pointer;
}

.amount p:nth-child(2) {
    cursor:default;
}

.cart #cart-btn {
    width:100%;
    height:3.5rem;
    font-weight: 500;
    color:white;
    text-transform:uppercase;
    background:var(--color01);
    border:none;
    cursor:pointer;
}

.cart #cart-btn:hover {
    transform: scale(.9);
    background:var(--color03);
}



#next {
    width:8rem;
    height:4rem;
    color:black;
    background:transparent;
    border:none;
    font-weight: 500;
    text-transform:uppercase;
    word-spacing: 1rem;
    cursor:pointer;
    position:relative;
    z-index: 10;
}

#next::after {
    content:'';
    width:4rem;
    height:3rem;
    background: rgba(119, 119, 119, 0.3);
    position:absolute;
    top:.3rem;
    left:2rem;
}

#next:hover::after {
    width:100%;
    left:0;
    background: rgba(230, 125, 51, 0.3);
}




/*----------------------------------------------------------*/





#next {
    width:8rem;
    height:4rem;
    color:black;
    background:transparent;
    border:none;
    font-weight: 500;
    text-transform:uppercase;
    word-spacing: 1rem;
    cursor:pointer;
    position:relative;
    z-index: 10;
}

#next::after {
    content:'';
    width:4rem;
    height:3rem;
    background: rgba(119, 119, 119, 0.3);
    position:absolute;
    top:.3rem;
    left:2rem;
}

#next::after{
    animation: btn .9s ease;
}

#next:hover::after {
    animation: btn .9s ease;
    width:100%;
    left:0;
    background: rgba(230, 125, 51, 0.3);
}

@keyframes btn {
    0% {
        background: rgba(119, 119, 119, 0.3);
    }
    100% {
        width:100%;
        left:0;
        background: rgba(230, 125, 51, 0.3);
    }
}
















/*------------------------------------------------*/








































.social-field {
    width:12rem;
    margin-top:12rem;
    display: flex;
    justify-content: space-between;

}

.social-field i {
    font-size:2.3rem;
    cursor:pointer;
}

.social-field i:hover {
    color:var(--color01);
}
