/*--GoogleFonts - Montserrat--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,700&display=swap');

:root {
    --color01: #e67e34;
    --color02: #6e6e6e;
    --color03: #ff4800;

    --font01: "Montserrat", sans-serif;
}

/*--Reset--*/
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    overflow:hidden;
/*--Padrão font,transição--*/  
    font-size:10px;
    font-family:var(--font01);
    transition:.5s ease-in;
}

.container {
    width:100%;
    height:100vh;
}

#bg2, #bg3 {
    display: none;
}

/*-----------------------------------------------------*/

.bg img {
    width:100%;
    height:100%;
    object-fit:cover;
}

header {
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:1rem 6rem;
}

#Logo {
    width:8rem;
    height:7rem;
    text-align:center;
    line-height:7rem;
    font-size:2rem;
    font-weight:600;
    text-transform:uppercase;
    color:white;
    background:var(--color01);
    cursor:default;
}

ul {
    width:50rem;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

ul li {
    text-transform:uppercase;
    font-weight:500;
    font-size:2rem;
    cursor:pointer;
}

ul li:hover {
  color:var(--color01);
}

ul li i {
    transition:.1s;
    font-size:2rem;
}

.ico-small {
    display:none;
}

.ico-small:hover {
    color: var(--color01);
}

/*-----------------------------------------------------*/

.hamburguer {
    width:1.8rem;
    height:1.8rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
}

.hamburguer:hover .line-p, .hamburguer:hover .line-g {
    background:var(--color01);
    transition: .7s ease;
}

.line-p {
    width:70%;
    height:2px;
    background:black;
    margin-left:auto;
    border-radius:30%;
}

.line-g {
    width:100%;
    height:3px;
    background:black;
    border-radius:30%;
}

#ul {
    width:0;
    height:5rem;
    background:rgb(207, 207, 207);
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3),
               1px 1px 3px inset rgba(255, 255, 255, 0.7);
    display: none;
    position:absolute;
    right:9rem;
    top:6rem;
    z-index:100;
    animation:anima .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes anima {
    0% {
        width:0;
    }
    100% {
        width:53rem;
    }
}

.show-menu #ul {
    width:53rem;
    display: flex;
}

#ul .category-txt p{
    font-size: 1.5rem;
    padding:4rem;
}

#ul .category-txt:hover {
    background:var(--color01);
    
    text-shadow:none;
}
#ul .category-txt p:hover {
    color:white;
}


/*-----------------------------------------------------*/

main {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin:12rem 6rem;
}

.category {
    width:12rem;
    height:26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

.category-txt p {
    font-size:2.5rem;
    font-weight:500;
    text-transform:uppercase;
    color:var(--color02);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    cursor:pointer;
}

.category-txt p:hover {
    color:var(--color01);
}

/*-----------------------------------------------------*/

#focus01 {
    display: block;
}

#focus02, #focus03 {
    display: none;
}

.focus-txt {
    font-size:5rem;
    color:var(--color01);
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:1rem;
}

.focus-cash {
    font-size:2rem;
    font-weight:600;
}
/*-----------------------------------------------------*/

.cart {
    width:17rem;
    height:16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right:10.5rem;
}

.size {
    width:100%;
    display: flex;
    justify-content:space-around;
}

.size p {
    width:3rem;
    height:3rem;
    text-align:center;
    line-height:3rem;
    font-size:2rem;
    text-transform:uppercase;
    border-radius: 50%;
    border:1px solid black;
    cursor:pointer;
}

.size p:hover {
    color:var(--color01);
    border:1px solid var(--color01);
}

.amount {
    width:100%;
    height:3.5rem;
    display: flex;
    justify-content: space-evenly;
    background:white;
    border:1px solid rgb(179, 179, 179);
    line-height:3.3rem;
}

.amount p {
    font-size:2rem;
    font-weight:500;
    cursor:pointer;
}

.amount p:nth-child(2) {
    cursor:default;
}

.cart #cart-btn {
    width:100%;
    height:3.5rem;
    font-weight: 500;
    color:white;
    text-transform:uppercase;
    background:var(--color01);
    border:none;
    cursor:pointer;
}

.cart #cart-btn:hover {
    color:black;
    background:var(--color03);
}

/*---------------------------------- Botão Prev / Botão Next */

.btn-NP {
    width:8rem;
    height:4rem;
    color:black;
    background:transparent;
    border:none;
    font-weight: 500;
    text-transform:uppercase;
    word-spacing: 1rem;
    cursor:pointer;
    position:relative;
    z-index: 10;
}

.btn-NP::after {
    content:'';
    width:4rem;
    height:3rem;
    background: rgba(119, 119, 119, 0.3);
    transition:.5s;
    position:absolute;
    top:.3rem;
    left:2rem;
}

.btn-NP:hover::after {
    width:100%;
    left:0;
    background: rgba(230, 125, 51, 0.3);
    transition:.5s;
}

/*-----------------------------------------------------*/

.social-field {
    width:12rem;
    margin-top:12rem;
    display: flex;
    justify-content: space-between;
}

.social-field i {
    font-size:2.3rem;
    cursor:pointer;
}

.social-field i:hover {
    color:var(--color01);
}

/*-----------------------------------------------------Media Querie 1060px*/

@media (max-width: 1060px) {
    ul{
        justify-content: space-evenly;
    }
    ul li {
        text-shadow:1px 1px 1px rgba(255, 255, 255, 0.5);
    }
    ul li:nth-child(1), ul li:nth-child(2) {
        display: flex;
    }
    ul li:nth-child(3), ul li:nth-child(4) {
        display:none;
    }
    .show-menu #ul {
        width:40rem;
        height:3rem;
        display: flex;
        justify-content: space-around;
        right:14%;
    }
    @keyframes anima {
        0% {
            width:0;
        }
        100% {
            width:40rem;
        }
    }
    .show-menu #ul li{
        display: block;
    }
    #ul .category-txt p{
        font-size: 1rem;
    }
    main {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        margin-left: 28%;
        text-align: center;
        align-items: center;
    }
    .cart {
        margin-left: 10rem;
    }
    .category {
        display: none;
    }
    .focus-txt {
        font-size: 2.3rem;
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.4);
    }
    .focus-cash {
        font-size:1.5rem;
    }
    .btn-NP {
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    }
    .size p {
        text-shadow:1px 1px 1px rgba(255, 255, 255,.5);
        border:1px solid white;
    }
    .social-field {
        margin-top: 1rem;
    }
    .social-field i {
        color:var(--color01);
        text-shadow:1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .social-field i:hover {
        color:var(--color02);
    }
}

/*-----------------------------------------------------Media Querie 650px*/

@media (max-width: 650px) {
    ul {
        justify-content: space-around;
    }
    #Logo {
        opacity: .6;
        transform: scale(.5);
        position:fixed;
        top:-1.3rem;
        left:-1.3rem;
    }
    .show-menu #ul {
        width:11rem;
        height:20rem;
        display: flex;
        flex-direction: column;
        top:4rem;
        right:1rem;
        opacity: .9;
        animation:anima .6s backwards;
    }
    #ul .category-txt p  {
        padding:2rem 10rem;
    }
    @keyframes anima {
        0% {
            height:0;
        }
        100% {
            height:20rem;
        }
    }
    main {
        margin-left: 0;
        margin-top:2rem;
        text-align: left;
        align-items: left;
        justify-content: center;
    }
    .cart {
        margin-top:50rem;
    }
    .focus {
        margin-top:0;
    }
}
/*-----------------------------------------------------------------------------------*/